.bodyClass {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


p{
    height: 40px; 
    color:black;
    display: flex;
    justify-content: center;
    align-items: center;
}


.class {
    color: rgb(201, 54, 160);
    background-color: rgb(250, 250, 250, 0.8);
    margin: 50px;
}

.class2 {
    background-color: rgb(253, 168, 197);
}

.imgBg {
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    width: 100vw;
    height: inherit;
}

.customHS {
    text-align: center;
    color: rebeccapurple;
}
